.DS_Store
*/target
*/.vscode
*/.idea
*/.settings
*/.project
*/.classpath
*/.factorypath
*/.mvn
*/.gradle
*/.settings
*/.metadata
*/.recommenders
*/.cache
*/.log
*/.tmp
*/.bak
*/.swp
*/.swo
*/.env
*/.env.*